@import 'tailwindcss';

@font-face {
    font-family: 'Inter';
    src: url('@/assets/fonts/Inter/Inter_28pt-Medium.ttf') format('woff2');
    font-weight: 400;
    font-style: normal;
}

:root {
    background-image: url('@/assets/images/Background.jpg');
    font-family: 'Inter', sans-serif;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    z-index: -1;
}